@model Azure_Desafio.Models.Funcionario;

@{
    ViewData["Title"] = "Excluir Funcionário";
}

<h1 style="color: red">Deseja realmente excluir o funcionário?</h1>
<hr>
<div>
    <div class="row">
        <div class="col-sm-2">
            @Html.DisplayNameFor(x => x.Nome)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(x => x.Nome)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(x => x.EmailProfissional)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(x => x.EmailProfissional)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(x => x.Salario)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(x => x.Salario)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(x => x.Departamento)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(x => x.Departamento)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(x => x.DataAdmissao)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(x => x.DataAdmissao)
        </div>
    </div>
</div>
<form asp-action="Delete">
    <input type="submit" value="Excluir" class="btn btn-danger" />
</form>
<br>
<a asp-action="Index">Voltar</a>